---
import image from "../../images/identity_design_image.svg";
import logoIcon from "../../images/logo_icon.svg";
import marketingIcon from "../../images/marketing_icon.svg";
import personalBrandingIcon from "../../images/personal_branding_icon.svg";
import corporateBrandingIcon from "../../images/corporate_branding_icon.svg";
---

<section id="identity" class="identity">
  <div class="container intro_container">
    <div class="icon identity_design_image">
      <img src={image} alt="" />
    </div>

    <h4 class="title identity_design_title">web development</h4>

    <p>
      Our web design services can help rediscover your business’s image in the
      Internet marketplace. Whether it’s to increase profits, provide support,
      sell products or promote your brand, allow our web design services to
      bring your company front and center. Established in 2007 on Long Island
      and with offices in New York City, our web design services have a proven
      track record of what it takes to have a successful website.
    </p>
  </div>

  <!-- <div class="container definition_container">
    <div class="title">Discovery</div>
    <div class="text">
      We start our projects by understanding the scope and requirements. This is
      accomplished by working closely with you to make sure we are all on the
      same page.
    </div>
  </div> -->

  <div class="container services_container">
    <div class="Card logo_card">
      <div class="Card_heading">
        <div class="Card_icon">
          <img src={logoIcon} alt="" />
        </div>
        <div class="Card_title">
          <h4>Wireframe</h4>
        </div>
      </div>
      <div class="Card_text">
        <p>
          Following the initial kick-off meeting, we will outline your project,
          create milestones, and agree on project priorities. Now we have a
          strategic plan in place that aligns with your initial vision and makes
          your goals achievable.
        </p>
      </div>
    </div>

    <div class="Card marketing_card">
      <div class="Card_heading">
        <div class="Card_icon">
          <img src={marketingIcon} alt="" />
        </div>
        <div class="Card_title">
          <h4>Design & Development</h4>
        </div>
      </div>
      <div class="Card_text">
        <p>
          Web design refers to both the aesthetic portion of the website and
          it’s usability. We use various design programs to create the layout
          and other visual elements of the website.
          <br />
          <br />
          Our Developers thereafter, take the website design and actually turn into
          a functioning website, bringing to life the design files.
        </p>
      </div>
    </div>

    <div class="Card marketing_card">
      <div class="Card_heading">
        <div class="Card_icon">
          <img src={marketingIcon} alt="" />
        </div>
        <div class="Card_title">
          <h4>Responsive Web Design</h4>
        </div>
      </div>
      <div class="Card_text">
        <p>
          We carefully craft comprehensive digital experiences that function
          consistently and seamlessly across all browsers. From desktop screens
          to mobile phones and tablets, our websites scale and adapt smoothly to
          the ever-changing context of multi-device users and interactions.
        </p>
      </div>
    </div>

    <div class="Card marketing_card">
      <div class="Card_heading">
        <div class="Card_icon">
          <img src={marketingIcon} alt="" />
        </div>
        <div class="Card_title">
          <h4>Social Media Integration</h4>
        </div>
      </div>
      <div class="Card_text">
        <p>
          Integrating your web-app, mobile-app and social media channels
          empowers the business and helps the brand to connect with consumers
          directly. We combine methods that can address your customer queries
          and questions instantly, in turn making it easier for you to
          communicate important news and updates to your followers and fan base
          in real-time expanding the reach to the wider audience.
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .intro_container {
    > .icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 320px;
      }
    }
    > h4.title {
      font-size: 3.2rem;
      margin-top: 10rem;
      margin-bottom: 3rem;
    }
  }

  .definition_container {
    margin-top: 10rem;
    > .title {
      font-size: 3.2rem;
      margin-bottom: 1.5rem;
      //   margin-top: 10rem;
      //   margin-bottom: 6rem;
    }
  }

  @media screen and (min-width: 768px) {
    .intro_container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      column-gap: 3rem;
      grid-template-areas:
        "image image image . title title title title title title title title"
        "image image image . paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph";
      grid-template-rows: auto 1fr;

      > .icon {
        grid-area: image;
      }
      > h4.title {
        grid-area: title;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      > p {
        grid-area: paragraph;
        align-self: end;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .definition_container {
      max-width: 1200px;
      margin: 10rem auto;
    }
  }

  .services_container {
    .Card {
      margin-top: 5rem;
      &_heading {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
      }
      &_title {
        font-size: 1.8rem;
      }
      &_icon {
        margin-right: 1rem;
      }
    }

    @media screen and (min-width: 768px) {
      max-width: 1200px;
      margin: 10rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 13rem;
      row-gap: 7rem;

      .Card {
        margin-top: 0rem;
      }
    }
  }
</style>
